body{
    background-color: black;
    }
h1{
    color:white;
    border:solid;
    float:right;}
p  {
    color:white;
    font-size:2em;
    font-style:italic;
   }
img {
    height: 300px;
    }

    
    